<%= form_for([current_user, @pledge]) do |f| %>

	<div class="field">
		<%= f.label :amount %><br/>
		<%= f.number_field :amount %>
	</div>

	<div class="action">
		<%= f.submit "Submit"%>
	</div>
<% end %>