<h1><%= @user.user_name.capitalize %> Profile</h1>

<h3>User Rewards:</h3>

<% @user.rewards.each do |reward| %>
	<p>
		<strong>Title:</strong><%= reward.reward_name %><br/>
		<strong>Description:</strong><%= reward.description %><br/>
		<strong>Value:</strong><%= reward.min_amount %>
	</p>
<% end %>