<h1>What's New</h1>

<div class="project-block">
	<div class="project-thumbnail">
		<% link_to image_tag(project.photo, class: "photo-thumbnail"), "projects/#{projects.id}" %>
	</div>
	<div class="project-content">
		<h6><%= project.name %></h6>
		<p class="project-by">By <%=user.user_name %></p>
		<p class="project-blurb"><%= project.tagline %></p>
	</div>
	<div class="project-footer"></div>
</div>